/*  Basic settings  */
/*  Overall  */
/*body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}*/
/*  Map  */
.map {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 50px;
}
